version: '3.8'

services:
  dashboard:
    build: .
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    deploy:
      labels:
        - "traefik.enable=true"
        # Configuraci칩n del Router para el dominio mateoia.store
        - "traefik.http.routers.mateo-dashboard.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.mateo-dashboard.entrypoints=websecure"
        - "traefik.http.routers.mateo-dashboard.tls.certresolver=letsencryptresolver"
        # Redirecci칩n autom치tica de HTTP a HTTPS
        - "traefik.http.routers.mateo-dashboard-http.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.mateo-dashboard-http.entrypoints=web"
        - "traefik.http.routers.mateo-dashboard-http.middlewares=redirect-to-https"
        - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
        # Configuraci칩n del Servicio
        - "traefik.http.services.mateo-dashboard.loadbalancer.server.port=3000"

networks:
  default:
    external:
      name: BelanzeNet # Nombre de red confirmado por el usuario
