version: '3.8'

services:
  dashboard:
    build: .
    restart: always
    networks:
      - BelanzeNet
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=BelanzeNet"
        - "traefik.http.routers.dashboard.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.dashboard.entrypoints=websecure"
        - "traefik.http.routers.dashboard.tls=true"
        - "traefik.http.routers.dashboard.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.dashboard.loadbalancer.server.port=3000"

networks:
  BelanzeNet:
    external: true
