version: '3'

services:
  web:
    container_name: crm-callcenter
    image: ghcr.io/osdopllamadas/dashboard-analiticas:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}

    # --- REDES ---
    networks:
      - default
