version: '3.8'

services:
  web:
<<<<<<< HEAD
    build: .
=======
    image: ghcr.io/osdopllamadas/dashboard-analiticas:latest
>>>>>>> dde899d01d24ebc5ced9c94584308f3c72c98eeb
    restart: always
    networks:
      - BelanzeNet
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=BelanzeNet"
        - "traefik.http.routers.mateo-dashboard.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.mateo-dashboard.entrypoints=websecure"
        - "traefik.http.routers.mateo-dashboard.tls=true"
        - "traefik.http.routers.mateo-dashboard.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.mateo-dashboard.loadbalancer.server.port=3000"

networks:
  BelanzeNet:
    external: true
