version: '3.8'

services:
  dashboard:
    build: .
    restart: always
    networks:
      - BelanzeNet
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=BelanzeNet"
        - "traefik.http.routers.dashboard-router.rule=Host(\"dashboard.mateoia.store\")"
        - "traefik.http.routers.dashboard-router.entrypoints=websecure"
        - "traefik.http.routers.dashboard-router.tls=true"
        - "traefik.http.routers.dashboard-router.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.dashboard-router.service=dashboard-service"
        - "traefik.http.services.dashboard-service.loadbalancer.server.port=3000"

networks:
  BelanzeNet:
    external: true
