version: '3.8'

services:
  dashboard:
    build: .
    restart: always
    env_file:
      - .env.local
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=BelanzeNet"
        # Configuración del Router para el dominio mateoia.store
        - "traefik.http.routers.mateo-dashboard.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.mateo-dashboard.entrypoints=websecure"
        - "traefik.http.routers.mateo-dashboard.tls.certresolver=letsencryptresolver"
        # Configuración del Servicio
        - "traefik.http.services.mateo-dashboard.loadbalancer.server.port=3000"

networks:
  default:
    external:
      name: BelanzeNet # Nombre de red confirmado por el usuario
