version: '3.8'

services:
  dashboard:
    build: .
    restart: always
    networks:
      - BelanzeNet
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=BelanzeNet"
        - "traefik.http.routers.mateo-crm-rt.rule=Host(`dashboard.mateoia.store`)"
        - "traefik.http.routers.mateo-crm-rt.entrypoints=websecure"
        - "traefik.http.routers.mateo-crm-rt.tls=true"
        - "traefik.http.routers.mateo-crm-rt.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.mateo-crm-rt.service=mateo-crm-svc"
        - "traefik.http.services.mateo-crm-svc.loadbalancer.server.port=3000"

networks:
  BelanzeNet:
    external: true
